{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script 
        src="{% static './bower_components/jquery/dist/jquery.js' %}">
    </script>
    <script 
        src="{% static './bower_components/bootstrap/dist/js/bootstrap.min.js' %}" >
    </script>
    <link 
        rel="stylesheet" 
        href="{% static './bower_components/bootstrap/dist/css/bootstrap.css' %}">
    
    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Salmon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">I <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">like</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">a salmon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">seriously</a>
            </li>
            </ul>
        </div>
    </nav>
              
    {% block body %}
    
    {% endblock %}

    <script>
        $(document).ready(function(){
            console.log($(document).scrollTop());
            $(document).scroll(function(){
                // console.log(this , $(document).scrollTop());
                let doc = $(document);
                let scrt = doc.scrollTop();
                if(scrt > 40){
                    $('.navbar')
                    .addClass('bg-dark');
                }
                else{
                    $('.navbar')
                    .removeClass('bg-dark');
                }
            });
        });
    </script>
</body>
</html>